<article class="box">

    <div class="md:grid grid-cols-3 gap-5 reference">
        {{#each data}}
            <div>
                <a target="_blank" itemprop="url" href="/assets/reco/pdf/{{replace . '.jpg' '.pdf'}}">
                    <img src="/assets/reco/jpg/{{.}}">
                </a>
            </div>
        {{/each}}
    </div>

    <a itemprop="url" href="https://www.linkedin.com/in/robertgurgul"
       target="_blank" class="inline-block m-5">
        <img src="/assets/me/in2.png"
             class="float-left"
             alt="View Robert Gurgul's profile"
             width="20"
             border="0">
        Zobacz mój <br>profil oraz opinie<br>
        na linkedIn
        {{> ex-link}}
    </a>

</article>
