<div class="box">
  <div itemprop="description">
    <div class="space-y-4">
      <p>
        Nazywam się Robert Gurgul.
        Programuję od 2002. Doświadczenie zawodowe zdobywałem pracując m. in. w
        takich firmach (i instytucjach) jak Gemius czy Ministerstwo Edukacji
        Narodowej. Specjalizuję się w aplikacjach typu
        <strong>enterprise</strong>.
        <br />
        Od 2014
        <strong>prowadzę szkolenia</strong>
        z tworzenia (oraz testowania) aplikacji internetowych z wykorzystaniem Angular, React, Node.js oraz Cypress.
        Jak dotąd zrealizowałem ich ponad 300.
      </p>
      <p>
        Moje szkolenia mają
        <strong>charakter warsztatowy</strong>; są
        <strong>wymagające, angażujące i dają totalnego kopa</strong>
        do działania oraz
        <strong>niesamowicie przyśpieszają</strong>
        poznawanie nowych technologii webowych.
        <br />Duży nacisk kładę na takie zagadnienia jak:
        <strong>architektura</strong>
        aplikacji,
        <strong>reużywalność,</strong>
        <strong>skalowalność</strong>, a także <strong>automatyczne testowanie</strong>.
      </p>
      <p>
        Szkolenia adresuje do
        <strong>czynnych programistów</strong>, którzy chcą się rozwijać; nie uczę
        podstaw.
        <br />
        Proces nauki jest szybki i wymaga dużego wysiłku oraz 100% zaangażowania.
      </p>

      <p>
        Ze względu na doświadczenie oraz obszerną znajomość tematu wykonuję
        również
        <strong>audyty aplikacji webowych</strong>.
      </p>
    </div>

    <div>
      <h3 class="text-xl font-semibold my-4">
        REKOMENDACJE
      </h3>
      <div class="flex">
        <a itemprop="url" href="https://www.linkedin.com/in/robertgurgul" target="_blank" class="inline-block btn">
          <img src="/assets/me/in2.png" class="float-left" alt="View Robert Gurgul's profile" width="20" border="0" />
          Zobacz mój
          <br />profil oraz opinie
          <br />na linkedIn {{> ex-link}}
        </a>
        <a itemprop="url" class="inline-block btn" href="/referencje">Zobacz
          <br />referencje
          <br />od klientów
          {{> ex-link}}
        </a>
      </div>
    </div>

    <div>
      <h3 class="text-xl font-semibold mt-5">
        KLIENCI
      </h3>
      <div class="clients grid grid-cols-4">
        <img src="/assets/clients/abb.png" />
        <img src="/assets/clients/comarch-szkolenia.png" />
        <img src="/assets/clients/asseco.jpg" />
        <img src="/assets/clients/ailleron.png" />
        <img src="/assets/clients/vavatech.jpg" />
        <img src="/assets/clients/altkom.jpg" />
        <img src="/assets/clients/atos.png" />
        <img src="/assets/clients/luxmed.png" />
        <img src="/assets/clients/eniro.jpg" />
        <img src="/assets/clients/eduweb.png" />
        <img src="/assets/clients/sm.png" />
        <img src="/assets/clients/sodexo.png" />
        <img src="/assets/clients/transition-tech.png" />
        <img src="/assets/clients/pko.jpg" />
        <span>i wiele innych</span>
      </div>
    </div>
  </div>
</div>
