<div class="mb-5">
    Twoje dane osobowe będą wykorzystywane wyłącznie w celu obsługi tego zapytania.
</div>

<form novalidate name="contactForm" id="contactForm" class="space-y-4">
    <div class="lg:flex gap-5 space-y-4 lg:space-y-0">
        <div class="flex-1">
            <label class="text-sm">
                Imię i nazwisko*
                <br>
                <input type="text" name="name" class="
                    border-2 border-neutral-50 text-gray-900 text-sm rounded focus:ring-blue-500
                    p-2
                    focus:ring-0
                    focus:border-slate-400
                  " required>
            </label>
        </div>
        <div class="flex-1">
            <label class="text-sm">
                Adres email*
                <br>
                <input type="email" name="email" class="
                    border-2 border-neutral-50 text-gray-900 text-sm rounded focus:ring-blue-500
                    p-2
                    focus:ring-0
                    focus:border-slate-400
                  " required>
            </label>
        </div>
    </div>
    <div>
        <label class="text-sm">
            Wiadomość*
            <br>
            <textarea class="
                    border-2 border-neutral-50 text-gray-900 text-sm rounded focus:ring-blue-500
                    p-2
                    focus:ring-0
                    focus:border-slate-400
                  " rows="5" name="msg" required></textarea>
        </label>
    </div>

    <button class="btn-send sending btn border mt-3">
        Wyślij
    </button>


</form>
