  <div class="course space-y-6 divide-y-2 divide-neutral-200">

    <div class="box">
      <div class="title">Co to jest {{description}}</div>
      <div class="content">
        {{{replace (replace about '<b>' '<strong>') '</b>' '</strong>'}}}
      </div>
    </div>

    <div class="box">
      <div class="title">Cel szkolenia</div>
      <div class="content">
        {{{replace (replace purpose '<b>' '<strong>') '</b>' '</strong>'}}}
      </div>
    </div>

    <div class="box">
      <div class="title">
        Program szkolenia
        <div class="addition">
          Programy szkoleń można modyfikować lub łączyć, aby dostosować szkolenie do własnych
          potrzeb. Jednak przed zamówieniem należy uzgodnić taką modyfikację.
        </div>
      </div>
      <div class="content">
        {{#renderGherkin program}}{{/renderGherkin}}
      </div>
    </div>

    <div class="box">
      <div class="title">Czas trwania</div>
      <div class="content">
        Szkolenie trwa
        <span class="font-semibold ">
          {{#ifeq duration 1}}{{duration}} dzień {{/ifeq}}
          {{#ifnoteq duration 1}}{{duration}} dni {{/ifnoteq}}
        </span>
        <div class="addition">
          W celu lepszego utrwalenia materiału szkolenie można wydłużyć o jeden dzień.
        </div>
      </div>
    </div>

    <div class="box">
      <div class="title">Adresaci szkolenia</div>
      <div class="content">
        {{{replace (replace recipient '<b>' '<strong>') '</b>' '</strong>'}}}
      </div>
    </div>

    <div class="box">
      <div class="title">Forma szkolenia</div>
      <div class="content">
        <p>Szkolenie ma charakter <strong>warsztatowy</strong>
          <br>
          Może być zrealizowane <strong>stacjonarnie lub
            zdalnie</strong>.
        </p>
      </div>
    </div>

    <div class="box">
      <div class="title">Informacje dodatkowe</div>
      <div class="content">
        <div class="accordion" id="infoAccordion">
          {{#each (toObj 'general' 'usersneed' 'classroom')}}
          <div class="accordion-item bg-neutral-100 border-2 border-white">
            <div class="accordion-header mb-0">
              <button class="
                accordion-button
                relative
                flex
                items-center
                w-full
                py-3
                px-4
                text-base !text-gray-800 text-left
                border-0
                rounded-none
                transition
                focus:outline-none
                collapsed
              " type="button" data-bs-toggle="collapse" data-bs-target="#{{.}}" aria-expanded="true"
                aria-controls="{{.}}">
                {{#ifeq . 'general'}}Informacje ogólne{{/ifeq}}
                {{#ifeq . 'usersneed'}}Sprzęt oraz oprogramowanie uczestnika{{/ifeq}}
                {{#ifeq . 'classroom'}}Sala szkoleniowa{{/ifeq}}
              </button>
            </div>
            <div id="{{.}}" class="accordion-collapse collapse bg-white" data-bs-parent="#infoAccordion">
              <div class="accordion-body py-4 px-5">
                {{#ifeq . 'general'}}{{> info-general}}{{/ifeq}}
                {{#ifeq . 'usersneed'}}{{> info-usersneed}}{{/ifeq}}
                {{#ifeq . 'classroom'}}{{> info-classroom}}{{/ifeq}}
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="box">
      <div class="title">Wycena szkolenia</div>
      <div class="content round">
        {{> wycena-form }}
      </div>
    </div>

    <div class="box">
      <div class="title">Kontakt</div>
      <div class="content round">{{> contact-form }}</div>
    </div>

  </div>
