{{#ifnoteq class 'bg-init'}}
<footer class="footer-nav mt-10 px-5 lg:px-0 lg:py-5">

    <section class="container divide-y-2 divide-gray-50">

        <div class="lg:grid grid-cols-4 gap-4 py-8">

            <div>
                <a href="/" class="logo mb-5">
                    {{{logo}}}
                </a>
                {{#each sections.about}}
                <a class="block item {{trySetActive this.name ../title}}" itemprop="url" href="/{{this.name}}">
                    {{{replaceSubStr this.name '-' ' '}}}
                </a>
                {{/each}}
            </div>

            <div>
                <div class="title">
                    <div>szkolenia front-end</div>
                </div>
                {{#each sections.courses}}
                {{#unless this.hidden}}
                {{#getType this.fields 'front-end'}}
                {{> nav-item class="item" name=this.name char=' ' title=../title}}
                {{/getType}}
                {{/unless}}
                {{/each}}
            </div>

            <div>
                <div class="title">
                    <div>szkolenia back-end</div>
                </div>
                {{#each sections.courses}}
                {{#unless this.hidden}}
                {{#getType this.fields 'back-end'}}
                {{> nav-item class="item" name=this.name char=' ' title=../title}}
                {{/getType}}
                {{/unless}}
                {{/each}}

            </div>
            <div>
                <div class="title">
                    <div>szkolenia inne</div>
                </div>
                {{#each sections.courses}}
                {{#unless this.hidden}}
                {{#getType this.fields 'inne'}}
                {{> nav-item class="item" name=this.name char=' ' title=../title}}
                {{/getType}}
                {{/unless}}
                {{/each}}
            </div>

        </div>

        <div class="py-10 text-sm">
            <div>
                Copyright &copy; 2011-{{#getYear}}{{/getYear}}, DEBUGGER
                <br>
                Wszelkie prawa zastrzeżone
            </div>
            <div>
                Strona używa plików cookies w celach statystycznych
            </div>
            <div>v. {{this.version}}</div>
        </div>

    </section>

</footer>
{{/ifnoteq}}
