<!DOCTYPE html>
<html lang="pl">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-71558515-1"></script>
    <title>
        {{#if title}}
        {{titleCase title ' '}}
        {{else}}
        Trener Angular, React, JavaScript, Node.js
        {{/if}}
        | debugger.pl
    </title>
    <meta charset="utf-8">
    <meta name="keywords" content='Robert Gurgul, Trener JavaScript i Angular'>
    <meta name="description" content="{{replaceSubStr title '-' ' '}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="google-site-verification" content="_z8RKyWhKR201MI5COZ4zj5gBTH45U7-HSeZv34Mblk">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="assets/files/manifest.json">
    <link rel="stylesheet" href="main.css">
    {{#if css}}
    <link rel="stylesheet" href="{{css}}.css">
    {{/if}}
</head>

<body class="{{class}}">
