<div class="font-semibold my-1">Info ogólne</div>
<ul class="list-disc ml-4">
  <li>
    Szkolenie trwa 8 godzin lekcyjnych + przerwy.
  </li>
  <li>
    Ze względu na warsztatowy charakter szkolenia bądź na czas.
    Standardowo zaczynamy o 9:00 - o ile nie zostało ustalone inaczej.
  </li>
  <li>
    Jest ważne, abyś biegle
    posługiwał się komputerem oraz znał podstawowe sktóry klawiaturowe; np.
    Alt+Tab.
  </li>
  <li>
    W czasie szkolenie postaraj się nie używać telefonu i innych
    rozpraszaczy; dobrze jest też wyłączyć wszystkie niepotrzebne aplikacje na
    komputerze.
  </li>
  <li>
    Po szkoleniu uczestnik otrzymuje materiały w formie elektronicznej.
    Są to repozytoria git z kodem do ewentualnej analizy.
  </li>
</ul>
