<h3 class="font-semibold my-1">Niezbędny sprzęt</h3>
<ul class="list-disc ml-4">
  <li>
    Szybki komputer (np. i5 lub i7, SSD, min. 8GB RAM) <strong>z uprawnieniami administratora</strong>.
  </li>
  <li>
    Dwa monitory oraz kamera internetowa - niezbędne podczas szkolenia zdalnego.
      <strong>Kamera powinna pozostać włączona przez całe szkolenie.</strong>
  </li>
  <li>
    Zaopatrz się we wszystko, co może być użyteczne np. myszkę czy notatnik.
  </li>
</ul>

<h3 class="font-semibold my-1">Niezbędne oprogramowanie</h3>
<ul class="list-disc ml-4">
  <li>
    <div class="flex">
      <a target="_blank" class="flex whitespace-nowrap" rel="noopener" itemprop="url"
        href="https://code.visualstudio.com/download">
        Visual Studio Code
        {{> ex-link}}
      </a>
      lub inny dobry edytor
    </div>
  </li>
  <li>
    <a target="_blank" class="flex" rel="noopener" itemprop="url" href="https://www.google.com/intl/pl_pl/chrome">
      Chrome
      {{> ex-link}}
    </a>
  </li>
  <li>
    <a target="_blank" class="flex" rel="noopener" itemprop="url" href="https://git-scm.com/downloads">
      Git
      {{> ex-link}}
    </a>
  </li>
  <li>
    <a target="_blank" class="flex" rel="noopener" itemprop="url" href="https://nodejs.org">
      Node.js (LTS)
      {{> ex-link}}
    </a>
  </li>
</ul>
