<h3 class="font-semibold my-1">
  Jeżeli szkolenie odbywa się w siedzibie klienta
  <br>w sali szkoleniowej potrzebne są:
</h3>

<ul class="list-disc ml-4">
  <li>
    szybki internet
  </li>
  <li>
    dobry rzutnik - najlepiej HDMI
  </li>
  <li>
    flipchart - opcjonalnie
  </li>
  <li>
    komfortowa przestrzeń dla każdego uczestnika
  </li>
  <li>
    możliwość swobodnego podejścia (przez trenera) do każdego uczestnika
    szkolenia
  </li>
</ul>
