
    <a class="{{this.class}} {{trySetActive (concat 'szkolenie-'this.name) title}}" itemprop="url"
        title="warsztat {{#getFieldValue this 'description'}}{{/getFieldValue}}" href="/szkolenie-{{this.name}}">
        {{{replaceSubStr this.name '-' this.char}}}
    </a>


