<ui-menu>
    <nav class="menu-box !w-full md:!w-1/2" style="transform: translateX(100vw)">
        <section class="m-4">
            <div class="flex flex-wrap">

                <a class="nava {{trySetActive class 'bg-init'}}" itemprop="url" href="/">
                    {{{home}}}
                </a>

                {{#each sections.about}}
                <a class="nava {{trySetActive this.name ../title}}" itemprop="url" href="/{{this.name}}">
                    {{{replaceSubStr this.name '-' ' '}}}
                </a>
                {{/each}}
            </div>

            <div class="xx">
                <div>szkolenia front-end</div>
            </div>

            <div class="flex flex-wrap">
                {{#each sections.courses}}
                {{#unless this.hidden}}
                {{#getType this.fields 'front-end'}}
                {{> nav-item class='nava' name=this.name char='<br>' title=../title}}
                {{/getType}}
                {{/unless}}
                {{/each}}
            </div>

            <div class="xx">
                <div>szkolenia back-end</div>
            </div>
            <div class="flex flex-wrap">
                {{#each sections.courses}}
                {{#unless this.hidden}}
                {{#getType this.fields 'back-end'}}
                {{> nav-item class='nava' name=this.name char='<br>' title=../title}}
                {{/getType}}
                {{/unless}}
                {{/each}}
            </div>

            <div class="xx">
                <div>szkolenia inne</div>
            </div>
            <div class="flex flex-wrap">
                {{#each sections.courses}}
                {{#unless this.hidden}}
                {{#getType this.fields 'inne'}}
                {{> nav-item class='nava' name=this.name char='<br>' title=../title}}
                {{/getType}}
                {{/unless}}
                {{/each}}
            </div>
        </section>
    </nav>

</ui-menu>
