<form>
    <ui-radio-group id="participantsCount" label="Liczba uczestników" list="[3,4,5,6,7,8,9,10,11,12]">
    </ui-radio-group>
    <br>
    <ui-radio-group id="durationDays" label="Liczba dni" list="[1,2,3,4,5]"></ui-radio-group>
    <br>
    <ui-radio-group id="farAway" label="Forma szkolenia" list='["zdalne","stacjonarne"]'></ui-radio-group>
    <div class="text-sm">
        <div id="travelBox" hidden class="text-neutral-500">
            Szkolenie w siedzibie klienta - cena zawiera koszt hotelu oraz dojazdu
            <div hidden>zawarte przybliżone koszty: transport
                <span id="travel">0</span> zł; hotel
                <span id="hotel">0</span> zł
            </div>
            <div class="text-red-600 font-semibold">
                Promocja szkoleń stacjonarnych - rabat 5%
            </div>
        </div>
        <div id="online" hidden class="text-neutral-500">
            Platforma szkoleniowa online
            <div hidden>zawarty koszt:
                <span id="onlineCost">0</span> zł
            </div>
        </div>
    </div>
</form>
<br>
<strong>CENA NETTO:
    <span id="result">0</span> zł
</strong>
