.clients {
  background-color: rgba(255,255,255,.2);
  padding: 20px;

  img {
    padding: 0 20px 10px 0;
    filter: grayscale(100%);
    opacity: .6;
  }
}

.bg-about {
  @media (min-width: 1024px) {
    &:after {
      background: url(/public/assets/me/about.jpg) no-repeat;
      background-size: cover;
      background-attachment: fixed;
      opacity: .6;
    }
  }
}
