@import "pages/variables";
@import "pages/mixins";
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@700&display=swap');

.bg-init {

  overflow: hidden;

  @media (min-width: 768px) {
    background-color: #ebeef7;
    padding: 0 40px;

    &:before {
      content: "";
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      max-height: -webkit-fill-available;
      width: 100%;
      background: $bg0c;
      clip-path: polygon(55.4% 0, 55% 0, 45% 100%, 44.6% 100%);
    }
  }

  &:after {
    background: url(/public/assets/me/ja4a1.jpg) no-repeat;
    background-position-x: right;
    background-size: cover;

    @media (min-width: 768px) {
      clip-path: polygon(55% 0, 100% 0, 100% 100%, 45% 100%);
    }

    @media (max-width: 768px) {
      opacity: .8;
    }
  }
}

.in {
  font-size: 23px;
  text-align: left;
  letter-spacing: -3px;
  font-family: 'Zilla Slab';
  font-weight: bold;

  @media (max-width:768px) {
    font-size: 36px;
    margin-top: 150px;
    letter-spacing: -2px;
  }
}
