@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-body leading-4;
    }

    @screen lg {
        body {
            @apply text-body-lg leading-5;
        }
    }
}

@import "node_modules/debugger-look/src/look";

ui-radio-group label {
    @apply bg-neutral-100;
}

@import "pages/base";
@import "pages/common";
@import "pages/nav";
@import "pages/footer";

.accordion-button:not(.collapsed) {
    background-color: inherit;
}
