@import "node_modules/debugger-look/src/variables";
@import "node_modules/debugger-look/src/mixins";
@import "mixins";
@import "variables";
//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&display=swap');

@include anim(vawe100, 1, 30, 40, 45, 55);
$w:250px;

html {
  height: -webkit-fill-available;
  margin: 0;
  padding: 0;

   //@include dot();

  &:not(.bg-init) {

    &:before,
    &:after {
      content: "";
      position: fixed;
      height: $w;
      width: $w;
      right: -50px;
      top: -50px;
      border: 2px groove rgba(#eaeaea, .6);
      /* background-image: url(/public/assets/vectors/circle.svg);
    background-position: center; */
      z-index: -100;
      border-radius: 200px;
      /* background-color: rgba(0, 0, 0, .02); */
      @apply bg-neutral-400 bg-opacity-10;
      border-radius: border-base(30, 40, 45, 55);
    }

    &:before {
      animation: vawe100 7s linear infinite;
      animation-delay: -1s;
    }

    &:after {
      animation: vawe100 10s linear infinite;
    }
  }
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0;
  font-family: Inter;
  font-size: .9em;
  margin: 0;
  padding: 0;
  overflow-y: scroll;

  * {
    border-style: groove !important;
  }

  @media (min-width: 1920px) {
    font-size: 1vw;
  }

  .overlay {
    opacity: 0.6 !important;
  }

  .play {
    font-family: Playfair Display;
    /* font-family: Zilla Slab;
    line-height: 30px; */
  }

  svg {
    pointer-events: none;
  }

  &[class*="bg"]::after {
    content: "";
    background-size: cover !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -2;
  }

  .logo {
    display: inline-block;
    outline: none;

    svg {
      transform: scale(1.5);
      transform-origin: left top;

      path {
        /* fill: black !important;
        stroke: red;
        stroke-width: 2px; */
      }
    }
  }
}
