@import 'mixins';

dl {
    cursor: default;

    dt {
        font-weight: 600;
        margin: 8px 0;

        @media (max-width: 768px) {
            padding-left: 0px;
        }
    }

    >dd {
        margin-left: 0;
        margin-bottom: 5px;
        border-left: 2px groove lightslategray;
        padding-left: 15px;

        @media (max-width: 768px) {
            padding-left: 15px;
            margin-left: 3px;
        }
    }

    /* @media (min-width: 1000px) {
        margin: 25px 0;
    } */
}

strong {
    @apply font-semibold;
}

/* .container {
    @apply px-40 lg:px-0;
} */

.box {
    position: relative;
    &::after {
        //@include teeth();
    }

    @apply xl:px-0 pt-6 px-5;

    .title {
        @apply font-bold pb-1 text-lg;
        /* font-family: Playfair Display; */
    }

    .addition {
        @apply text-xs text-neutral-600 font-normal py-1;
        font-family: Inter;
    }

    .content {
        &.round {
            @apply p-5 rounded-md border-2 bg-white bg-opacity-70 border-white;
        }
    }
}
