$c: rgba(0,0,0,.7);
.footer-nav {
    background-color: rgba(lightgray, .1);
    color: $c;
    border-top: 1px solid lightgray !important;

    .btn-active {
        @apply font-semibold;
    }

    .title {
        text-transform: uppercase;
        /* margin-bottom: 10px; */
        /* @apply text-neutral-50; */
        @apply py-5 lg:py-1.5 text-gray-900 font-semibold;
    }

    .item {
        @apply capitalize block py-1.5 text-sm;
    }

    .logo {
            svg {
                transform: scale(1.2);
                transform-origin: left top;
                path {
                    fill: rgba(0,0,0,.9) !important;
                    /* stroke: rgba(gray, 1);
                    stroke-width: 2px; */
                }
            }
    }

    svg {
        path {
            /* @apply fill-neutral-400 #{!important}; */
            fill: $c !important;
        }
    }

    .marker-container {
        padding: 5px;

        div {
            @include line-marker(1em, 1px, 5px, bg-neutral-50);
        }
    }
}
