@mixin bg-strip($c2, $c1:white) {
  background: repeating-linear-gradient(-45deg,
      $c1, $c1 2px,
      $c2 2px, $c2 4px);
}

@mixin bg-gradient($a:.8) {
  background: linear-gradient(102deg, $bg0c, rgba($bg0c, $a));
}

@mixin bg-path($c:#eaeaea, $o:.7) {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*   z-index: -1; */
  background: rgba($c, .5);
  clip-path: polygon(0 0, 100% 22%, 100% 100%, 0 100%);
}

@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));
  @return $randomNum;
}

@function border-base($r, $r2, $r3, $r4) {
  @return #{$r+'%'} #{$r2+'%'} #{$r3+'%'} #{$r4+'%'} / #{(100 - $r)+'%'} #{(100 - $r2)+'%'} #{(100 - $r3)+'%'} #{(100 - $r4)+'%'};
}

@mixin anim($name, $i, $r, $r2, $r3, $r4) {
  @keyframes #{$name} {
    10% {
      border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
    }

    40% {
      border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
    }

    60% {
      border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
    }

    100% {
      border-radius: border-base($r, $r2, $r3, $r4);
    }
  }
}

@mixin anim-btn($r, $r2, $r3, $r4) {
  @keyframes wave-btn {
    50% {
      border-radius: 25% 25% 22% 28% / 23% 21% 29% 27%;
    }

    100% {
      border-radius: border-base($r, $r2, $r3, $r4);
    }
  }
}

@mixin teeth {
  content: '˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄˅˄';
  width: 100%;
  top: -10px;
  position: absolute;
  letter-spacing: -8px;
  color: rgba(0, 0, 0, .4);
  font-size: 1.5rem;
  overflow: hidden;
}

@mixin dot() {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: -40px;
  background-image: radial-gradient(rgba(0, 0, 0, 1) 5%, white 2%);
  background-attachment: fixed;
  background-position: 0 0;
  background-size: 10px 10px;
}
