@import 'mixins';

.menu-hamburger {
  margin:0;
  top:0;

  .menu-open {

    svg {

      path {
        /* fill:white !important;
        stroke:white !important; */
      }
    }
  }

  @media (min-width:768px) {
    margin:10px;
  }
}

$r:randomNum(85, 90);
$r2:randomNum(85, 90);
$r3:randomNum(85, 90);
$r4:randomNum(85, 90);

@include anim-btn($r, $r2, $r3, $r4);

.btn {

  &:hover {
    animation:wave-btn 1s linear 1 forwards;
  }

  @apply px-2 py-1.5 mr-3 mb-3 capitalize leading-4 rounded-2xl border-2 text-center text-neutral-700 bg-neutral-100;
  border-radius:border-base($r, $r2, $r3, $r4);
}


.nava {
  @apply btn flex items-center;

  &.btn-active {
    @apply text-white bg-zinc-600 cursor-default;

    &:hover {
      @apply bg-neutral-700;
    }

    svg {
      path {
        fill:white !important;
      }
    }
  }
}

.menu-box {

  .xx {
    @apply flex justify-center my-2 mb-4;
    position:relative;
    z-index:1;

    &::before {
      content:'';
      width:100%;
      height:100%;
      left:0;
      top:8px;
      position:absolute;
      background-color:rgba(slategray, .3);
      clip-path:polygon(0 8%, 100% 0%, 100% 8%, 0 0);
    }

    div {
      z-index:2;
      @apply inline self-center text-sm px-1 uppercase text-neutral-800 align-middle bg-white 2xl:text-2xl font-semibold;
    }
  }
}
