{{> header }}

<div class="{{#ifnoteq class 'bg-init'}}container{{/ifnoteq}} ">

    <header class="xl:px-0 px-5 mb-4 space-y-10">
        <a href="/" class="logo mt-8">
            {{{logo}}}
        </a>
        {{#ifnoteq class 'bg-init'}}
        <div>
            <div class="
            lg:space-x-8
            lg:divide-x-2 lg:divide-y-0 lg:divide-neutral-200
            lg:flex
            ">
                <h1 class="font-bold play text-4xl md:text-4xl items-center capitalize">
                    {{{replaceSubStr title '-' '<br>'}}}
                </h1>
                {{#if extraTitle}}
                <div class="lg:hidden">――</div>
                <div class="lg:pl-8 lg:flex items-center gap-8">
                    <div>
                        <h2>
                            {{{ extraTitle }}}
                        </h2>
                        {{#if demo}}
                        <div class="mt-6">
                            <a href="{{demo}}" target="_blank" class="btn border border-neutral-400">
                                demo aplikacji
                            </a>
                        </div>
                        {{/if}}
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
        {{/ifnoteq}}
    </header>

    <main class="
    {{#ifeq class 'bg-init'}} px-5 lg:px-10{{/ifeq}}
    {{#ifnoteq class 'bg-init'}}  {{/ifnoteq}}">
        {{{body}}}

    </main>
</div>
{{> footer }}

{{#if scripts}}
{{#each scripts}}
<script defer src="{{.}}.js"></script>
{{/each}}
{{/if}}
<script defer src="main.js"></script>

</body>
{{> nav}}

</html>
