<dl class="box">
    <dt>
        Dane do faktury
    </dt>
    <dd>
        DEBUGGER ROBERT GURGUL <br>
        UL. Jagiellońska 7b/2 <br>
        34-500 Zakopane <br>
        NIP 644-24-34-201 <br>
        REGON 278276057 <br>
        Nr. konta 82 2490 0005 0000 4530 8715 5240
    </dd>
</dl>
