<div class="box">
    <div>
        Ponieważ zależy mi na wysokiej skuteczności oraz jakości moich szkoleń,
        <br>
        proszę o zapoznanie się z poniższymi informacjami.
    </div>
</div>

<div class="box">
    <div class="title">Dla uczestnika</div>
    <div class="content round">
        {{> info-general}}
        {{> info-usersneed}}
    </div>
</div>

<div class="box">
    <div class="title">Dla organizatora</div>
    <div class="content round">
        {{> info-classroom}}
    </div>
</div>
