<section>
    <h1 class="in mt-8">
        <ui-words-cloud color1="#4A568A" color2="#2d3453"></ui-words-cloud>
    </h1>
    <div class="absolute bottom-5 text-neutral-600 text-sm">
        zdjęcia: Katarzyna Grabowska (WarsawJS)
        <br>
        Strona używa plików cookies w celach statystycznych
    </div>
</section>
