<article class="box">
    <header>
        <h1>
            {{replaceSubStr title '-' ' '}}
        </h1>
    </header>
    <div>
        {{#each data}}
            <dl>
                <dt><i>{{@index}} {{this.quote}}</i></dt>
                <dd><small>{{this.author}}</small></dd>
            </dl>
        {{/each}}
    </div>
</article>
